.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #78909c;
  background: linear-gradient(
    135deg, 
    rgb(252, 229, 179) 0%,
    rgba(252, 229, 179) 50%,
    rgb(182, 233, 176) 0%,
    rgb(182, 233, 176) 0% 
  );
}